<%= periodically_call_remote(:url => { :action => 'progress' }, :frequency => 1.5, :condition => 'keep_polling == true') -%> 
&nbsp; - Started <%= Time.now -%>.
<div id="progress_bar">progress is here</div>
